.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Local env files
*.env
*.local

# OS/editor artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/
